.header {
  background:#ddd;
}

.navigation {

  background-color: #c99;
}

.navigation ul {

  list-style:none;

}

.navigation li {

  display: inline;

}

.column1 {
  background-color: #9c9;
}

.column2 {
  background-color: #99c;
}
